<!DOCTYPE html>
<html data-ng-app="strateGISApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>StrateGIS Manager</title>
	<base href="/"/>
	<link type="text/css" rel="stylesheet" href="client/stylesheets/bootstrap.min.css"/>
	<link type="text/css" rel="stylesheet" href="client/stylesheets/app.css">
	<link type="text/css" rel="stylesheet" href="client/stylesheets/angular-material.css">
</head>

<body>

<div>
	<div ng-controller="AppCtrl" layout="column" ng-cloak>
		<div>
			<md-content class="md-padding">
				<div>
					<md-toolbar class="md-hue-2" layout = "row" layout-align="start center">
						<md-button class="md-icon-button md-button md-ink-ripple hide-gt-sm" aria-label="Menu" ng-click="toggleLeft()" hide-gt-sm="" focusable="false">
							<md-icon md-svg-icon="/client/icons/menu.svg"></md-icon>
						</md-button>	
						<h1 layout-align="start center"> StrateGIS manager</h1>
					</md-toolbar>
				</div>
				<div layout = "row" flex="none"  width="300px" height = "100%"> <!-- hide show-gt-sm -->
					<md-sidenav
					class="md-sidenav-left"
					md-component-id="left"
					md-is-locked-open="$mdMedia('gt-sm')"
					md-whiteframe="4">

						<div layout="column" layout-align="start stretch" role = "navigation">
								<md-button ui-sref="categories" ng-click="toggleLeft()" class="md-raised md-primary">Categories</md-button>
								<md-button ui-sref="category_definitionList" ng-click="toggleLeft()" class="md-raised md-primary">Category Definition</md-button>
								<md-button ui-sref="category_definition_rulesList" ng-click="toggleLeft()" class="md-raised md-primary">Category Definition Rules</md-button>
								<md-button ui-sref="rules" ng-click="toggleLeft()" class="md-raised md-primary">Rules</md-button>
								<md-button ui-sref="storedProcedures" ng-click="toggleLeft()" class="md-raised md-primary">Functions</md-button>
								<md-button ui-sref="info" ng-click="toggleLeft()" class="md-raised md-primary">Information</md-button>
						</div>
					</md-sidenav>
					<div layout-align="start start">
							<md-content layout-padding>
							<div ui-view></div>
							</md-content>
					</div> 
					<!--
					<md-nav-bar
					md-no-ink-bar="disableInkBar"
					md-selected-nav-item="currentNavItem"
					nav-bar-aria-label="navigation links">

						<md-nav-item md-nav-sref="categories" name="category">
								Category
						</md-nav-item>
						<md-nav-item md-nav-sref="category_definitionList" name="categoryDefinition">
								Category Definition
						</md-nav-item>
						<md-nav-item md-nav-sref="category_definition_rulesList" name="categoryDefinitionRules">
								Category Definition Rules
						</md-nav-item>
						<md-nav-item md-nav-sref="rules" name="rules">
								Rules
						</md-nav-item>
						<md-nav-item md-nav-sref="storedProcedures" name="functions">
								Functions
						</md-nav-item>
						<md-nav-item md-nav-sref="info" name="Info">
								Info
						</md-nav-item>

					</md-nav-bar>
					-->


				</div>
			</md-content>
		</div>	
	</div>
</div>
	

	<script src="/node_modules/angular/angular.js"></script>
	<script type="text/javascript" src="../client/controllers/app.js"></script>
	<!--<script type="text/javascript" src="../client/app.config.js"></script>-->
    <script type="text/javascript" src="../client/controllers/controllers.js"></script>
    <script type="text/javascript" src="../client/controllers/services.js"></script>
    <script type="text/javascript" src="/node_modules/angular-resource/angular-resource.min.js"></script>
	<script type="text/javascript" src="../client/scripts/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-material/angular-material.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-aria/angular-aria.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-animate/angular-animate.min.js"></script>
	<script type="text/javascript" src="/node_modules/angular-messages/angular-messages.min.js"></script>
	</body>
</html>