<h2 class="md-title">Category definition</h2>

<p>Use the function 'Check-in analysis layer' to add a new category definition.</p>

<table class="table">
	<tr> 
		<td><b>Category</b></td>
		<td><b>Layer name</b></td>
		<td><b>Output layer name</b></td>
    </tr>
	<tr ng-repeat="rule in rules.recordset" > 
        <tr ng-repeat="category_definition in category_definitionList.recordset"> 
		<td>{{category_definition.category_name}}</td>
		<td>{{category_definition.layer_name}}</td>
		<td>{{category_definition.output_layer_name}}</td>
		<td>
			<md-button class="md-icon-button" aria-label="Edit" ui-sref="editCategory_definition({category_definitionId:category_definition.id})">
				<md-icon md-svg-icon="/client/icons/pencil.svg"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="View" ui-sref="viewCategory_definition({category_definitionId:category_definition.id})">
				<md-icon md-svg-icon="/client/icons/eye.svg"></md-icon>
			</md-button>
            <md-button class="md-icon-button" aria-label="Delete" ng-click="deleteCategory_definition(category_definition)">
				<md-icon md-svg-icon="/client/icons/x.svg"></md-icon>
			</md-button>
        </td>
    </tr>
</table>