<md-button ui-sref="newCategory_definition_rules" class="md-raised md-primary">Add New Category Definition Rule</md-button>

<h2 class="md-title">Category definition rules</h2>

<table class="table">
	<tr> 
		<td><b>Category Definition</b></td>
		<td><b>Rule</b></td>
		<td><b>Weight</b></td>
		<td><b>Intersect Layer</b></td>
    </tr>
	<tr ng-repeat="category_definition_rules in category_definition_rulesList.recordset"> 
		<td>{{category_definition_rules.category_definition_id}}</td>
		<td>{{category_definition_rules.rules_id}}</td>
		<td>{{category_definition_rules.rule_argument1}}</td>
		<td>{{category_definition_rules.rule_argument2}}</td>
		<td>
			<md-button class="md-icon-button" aria-label="Edit" ui-sref="editCategory_definition_rules({category_definition_rulesId:category_definition_rules.id})">
				<md-icon md-svg-icon="/client/icons/pencil.svg"></md-icon>
			</md-button>
			<md-button class="md-icon-button" aria-label="View" ui-sref="viewCategory_definition_rules({category_definition_rulesId:category_definition_rules.id})"">
				<md-icon md-svg-icon="/client/icons/eye.svg"></md-icon>
			</md-button>
            <md-button class="md-icon-button" aria-label="Delete" ng-click="deleteCategory_definition_rules(category_definition_rules)">
				<md-icon md-svg-icon="/client/icons/x.svg"></md-icon>
			</md-button>
        </td>
    </tr>
</table>