<table class="table movietable">
    <tr>
        <td><h3>Details for {{category_definition_rules.id}}</h3></td>
        <td></td>
    </tr>
    <tr>
        <td>Category definition rules id</td>
        <td>{{category_definition_rules.id}}</td>
    </tr>
    <tr>
        <td>Category Definition Id</td>
        <td>{{category_definition_rules.category_definition_id}}</td>
    </tr>
	<tr>
        <td>Rules Id</td>
        <td>{{category_definition_rules.rules_id}}</td>
    </tr>
    <tr>
        <td>Rule Argument 1</td>
        <td>{{category_definition_rules.rule_argument1}}</td>
    </tr>
	<tr>
        <td>Rule Argument 2</td>
        <td>{{category_definition_rules.rule_argument2}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary" ui-sref="editCategory_definition_rules({category_definition_rulesId:category_definition_rules.id})">Edit</a>
</div>