<h2 class="md-title">Information</h2>

<div>
	<p>
	This application is built with the intention to support the task of utility companies by making it easier to make data-based decisions
	regarding groundwater and by showing data on a geographical map. <br><br>
	Future efforts must be carefully measured with the expected impact and compared with current efforts.<br> 
	A data-driven decision support tool should help prioritize future plans for the areas located upstairs 
	and in the vicinity of drilling, recovery and recovery areas for the purpose of ensuring groundwater.<br><br>
	http://www.vandogaffald.dk/
	This application have been developed by <a href="https://geopartner.dk/">GeoPartner A/S</a> in cooperation with <a href="http://www.vandogaffald.dk/">Vand og Affald Svendborg</a>. 
	</p>

	<b>Database: </b>{{serverSettings.database}}<br>
	<b>Host: </b>{{serverSettings.hostName}}:{{serverSettings.webPort}}<br>
	<b>GitHub manager:</b> <a href="https://github.com/kasperga/StrateGIS-manager">https://github.com/kasperga/StrateGIS-manager </a><br>
	<b>GitHub DB: </b> <a href="https://github.com/Larsklindt/StrateGIS">https://github.com/Larsklindt/StrateGIS </a><br>

</div>