<md-content layout-padding class="md-theme-indigo" ng-cloak >
	<div>
		<div layout-gt-xs="row">
			<md-input-container class="md-block">
				<label>Rule id</label>
				<input ng-model="rule.id" disabled>
			</md-input-container>
		</div>
		<div layout-gt-xs="row">
			<md-input-container class="md-block">
				<label>Rule name</label>
				<input ng-model="rule.rule_name">
			</md-input-container>
		</div>
	</div>
	<div>
		<md-button type="submit" class="md-raised md-primary" value="Save">Submit</md-button>
	</div>
</md-content>