<form role="form" ng-submit="executeUpdateCategory(category)" ng-controller="StoredProcedureUpdateCategoryController as ctrl">

	<div class="md-menu-demo" ng-cloak>
		<div class="menu-demo-container" layout="column">
			<h2 class="md-title">Update category</h2>
			Updates the complete content of the category, based on a summation of scores and overlaps from all layers assigned to this category. If the category does not exist, the category output table is created. The category output table name is specified in the 'category' table.

			<br><br>
			<md-input-container layout="row">
			  <label>Category</label>
			  <md-select ng-model="userStateUpdateCategory" required>
				<!--<md-option><em>None</em></md-option>-->
				<md-option ng-repeat="category in categories.recordset" ng-value="category">
				  {{category.category_name}}
				</md-option>
			  </md-select>
			</md-input-container>

			<div>
				<md-button type="submit" class="md-raised md-primary" value="Save">Update</md-button>
			</div>
			
		</div>
	</div>
</form>