<form role="form" ng-submit="executeUpdateAllCategories()" ng-controller="StoredProceduresUpdateAllCategoriesController as ctrl">

	<div class="md-menu-demo" ng-cloak">
		<div class="menu-demo-container" layout="column">
			<h2 class="md-title">Update all categories</h2>
			Updates the complete content of all categories, based on a summation of scores and overlaps from all layers assigned to a category.
			<br><br>
			<div>
				<md-button type="submit" class="md-raised md-primary" value="Save">Update</md-button>
			</div>
		</div>
	</div>
</form>